@import './base.css';

.forecasts {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-anchor: middle;
  margin: 0 auto;
  shape-rendering: crispEdges;
}

.forecasts .icon {
  font-family: 'Material Icons';
  font-size: 24px;
  baseline-shift: -8px;
  fill: #999999;
  text-transform: none;
}

.forecasts .status {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: #999;
}

.forecasts .status .icon {
  margin-right: 6px;
}

.forecasts .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecasts .line {
  fill: none;
  stroke-width: 2px;
  shape-rendering: auto;
}

.forecasts .dotted {
  stroke-dasharray: 0 4;
  stroke-linecap: round;
}

.forecasts .axis {
  text-transform: uppercase;
  fill: #999;
}

.forecasts .grid path,
.forecasts .axis line,
.forecasts .axis path {
  display: none;
}

.forecasts .grid line {
  opacity: 0.1;
}
