@import './base.css';

.queueSize {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-anchor: middle;
  shape-rendering: crispEdges;
}

.queueSize .icon {
  font-family: 'Material Icons';
  font-size: 24px;
  baseline-shift: -6px;
  fill: #f44336;
}

.queueSize .needed {
  font-size: 18px;
}

.queueSize .missing {
  font-size: 18px;
  fill: #f44336;
}

.queueSize .progress {
  fill: #4caf50;
}

.queueSize .label {
  text-transform: uppercase;
  alignment-baseline: middle;
}

.queueSize .start {
  text-anchor: start;
}

.queueSize .end {
  text-anchor: end;
}

.queueSize .background {
  fill: #d6d6d6;
}

.queueSize .multiplier {
  fill: #999;
}

.queueSize .dottedLine {
  stroke: #ccc;
  fill: none;
  stroke-dasharray:1 1
}
