@import './base.css';

.stats {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 0 auto;
}

.stats .label {
  font-size: 10px;
  text-transform: uppercase;
  display: block;
}
