body {
  margin:0;
  font-size: 10px;
  font-family: sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  opacity:.11;
  shape-rendering: crispEdges;
}

.axis text {
  text-transform: uppercase;
  dominant-baseline:text-after-edge;
}

.x.axis path {
  display: none;
}

.x.axis .tick line {
  display: none;
}

.x.axis .tick text {
  opacity:.11;
}

rect {
  fill: #000;
  opacity: .11;
}
