@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.retriesHistogram {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	text-anchor: middle;
	margin: 0 auto;
	shape-rendering: crispEdges;
}

.retriesHistogram .icon {
	font-family: 'Material Icons';
	font-size: 24px;
	baseline-shift: -8px;
	fill: #999999;
	text-transform: none;
}

.retriesHistogram .arrow {
	fill: #d6d6d6;
}

.retriesHistogram .tick,
.retriesHistogram .label {
	text-transform: uppercase;
	fill: #999;
	color: #999;
}

.retriesHistogram .tick line {
	opacity: 0.1;
}

.retriesHistogram .bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.retriesHistogram .status {
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
	color: #999;
}

.retriesHistogram .status .icon {
	margin-right: 6px;
}

.retriesHistogram .trying {
	fill: #000;
	background: #000;
}

.retriesHistogram .out {
	pointer-events: none;
	fill-opacity: .9;
	fill: #ddd;
	opacity: .9;
	background: #ddd;
}

.retriesHistogram .standby {
	fill: #999;
	background: #999;
}

.retriesHistogram .standby:hover {
	fill: #666;
	background: #666;
}

.retriesHistogram .complete {
	fill: #4caf50;
	background: #4caf50;
}

.retriesHistogram .fix {
	fill: #fff;
	background: #fff;
	opacity: 0.6;
}

.retriesHistogram .timewindow {
	fill: #fff;
	background: #fff;
}

.retriesHistogram .mask {
	fill: #dedede;
}

.retriesHistogram .domain {
	display: none;
}

.retriesHistogram .red {
	color: #f44336;
	fill: #f44336;
}

.retriesHistogram .dottedLine {
  stroke: #ccc;
  fill: none;
  stroke-dasharray:1 1 
}

.retriesHistogram .dottedLine.trying {
  stroke: black;
}

.retriesHistogram .dottedLine.red {
  stroke: #f44336;
}