@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.stats {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align: center;
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	justify-content: space-between;
	margin: 0 auto;
}

.stats > div {}

.stats .label {
	font-size: 10px;
	text-transform: uppercase;
	display: block;
}
