@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.successRate {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-anchor: middle;
}

.successRate .percent {
  font-size: 18px;
}

.successRate .percent.large {
  font-size: 72px;
}

.successRate .percent.middle {
  alignment-baseline: middle;
}

.successRate .label {
  text-transform: uppercase;
}

.successRate .hanging {
  alignment-baseline: hanging;
}

.successRate .dottedLine {
  opacity: 0.2;
  stroke: black;
  fill: none;
  stroke-dasharray:1 1 
}

.successRate .initial {
  fill: #ffc106;
}

.successRate .actual {
  fill: #ff5621;
}

.successRate .progress {
  fill: #4caf50;
}

.successRate .icon {
  font-family: 'Material Icons';
  font-size: 24px;
  baseline-shift: -6px;
  fill: #999;
}